<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
 <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
<ion-view view-title="{{team}}">
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <ion-content class="padding">
   <!-- stat card -->
      <div align="center">
<h3> Match {{team}} </h3>
</div>

    <div class="card" ng-repeat="item in list"> <!-- Start Card -->
  <div class="item item-divider">
    <div class="row">
      <div class="col col-10">
        <!--
        <div ng-show="{{item.Red}}">
      <img  src="red.png" alt="Mountain View" style="width:10px;height:10px;"
      </div>
        <div ng-show="{{item.Blue}}">
         <img  src="blue.png" alt="Mountain View" style="width:10px;height:10px;">
       </div>
     -->

  </div>
   <div class="col">
      <p> <i> Team: </i> </p> {{item.Team}}
  </div>
 <div class="col">
  <p> <i> Match: </i> </p> {{item.Match}}
    </div>

  </div>
  </div>
  <div class="item item-text-wrap">








<div style="background-color: #FFCDD2;">
<div >
<p> <b><u>TELE OP</u> </b> </p>
</div>

<div class="row">
  <div class="row">
    <p style="padding-left: 2em;"><b>Alliance Switch Cubes:   </b>  {{item.AliSwitchCube}}</p>
  </div>
  <div class="row">
    <p style="padding-left: 2em;"><b>Opponent Switch Cubes:   </b>  {{item.OppSwitchcube}}</p>
  </div>
  <div class="row">
    <p style="padding-left: 2em;"><b>Scale Cubes:   </b> {{item.ScaleCube}} </p>
  </div>
  <div class="row">
    <p style="padding-left: 2em;"><b>Exchange Cubes:   </b> {{item.exc}} </p>
  </div>
  <div class="row" ng-show="{{item.aidClimb}}"
    <p style="padding-left: 2em;"><b>Aided Climb</b></p>

  </div>
  <div class="row" ng-show="{{item.succClimb}}"
    <p style="padding-left: 2em;"><b>Succesful Self Climb</b></p>

  </div>
</div>




<div ng-show="{{item.AutoScoreGear}}">
  <div class="row">
<div align="center">
  <p> --Scored Gear </p>
</div>
</div>
</div>


<div ng-show="{{item.AHighgoal}}">
  <div class="row">
<div align="center">
  <p> Scored High Goal </p>
</div>
</div>
</div>

<div ng-show="{{item.ALowgoal}}">
  <div class="row">
<div align="center">
  <p> Scored Low Goal </p>
</div>
</div>
</div>

<div ng-show="{{item.CrossD}}">
  <div class="row">
<div align="center">
  <p> Crossed Defense </p>
</div>
</div>
</div>

<div ng-show="{{item.ReachD}}">
  <div class="row">
<div align="center">
  <p> Reached Defense </p>
</div>
</div>
</div>


</div>

<div style="background-color: #BBDEFB;">
<div >
<p> <b><u>AUTONOMOUS</u> </b> </p>
</div>

<div class="row">
  <div class="row">
    <p style="padding-left: 2em;"><b>Alliance Switch Cubes: </b>  {{item.autoswitch}}</p>
  </div>
  <div class="row">
    <p style="padding-left: 2em;"><b>Scale Cubes: </b> {{item.autoscale}} </p>
  </div>
  <div class="row" ng-show="{{item.CrossAutoLine}}"
    <p style="padding-left: 2em;"><b>Crossed AutoLine</b></p>

  </div>
</div>




<div ng-show="{{item.AutoScoreGear}}">
  <div class="row">
<div align="center">
  <p> --Scored Gear </p>
</div>
</div>
</div>


<div ng-show="{{item.AHighgoal}}">
  <div class="row">
<div align="center">
  <p> Scored High Goal </p>
</div>
</div>
</div>

<div ng-show="{{item.ALowgoal}}">
  <div class="row">
<div align="center">
  <p> Scored Low Goal </p>
</div>
</div>
</div>

<div ng-show="{{item.CrossD}}">
  <div class="row">
<div align="center">
  <p> Crossed Defense </p>
</div>
</div>
</div>

<div ng-show="{{item.ReachD}}">
  <div class="row">
<div align="center">
  <p> Reached Defense </p>
</div>
</div>
</div>


</div>
  </div>
</div>
<!-- End Card -->

  </ion-content>
</ion-view>
