<div class="row responsive-sm">
  
  <div class="col" ng-show="data.portcullis">
  <div class="slideLeft" >

    <img src="Portcullis.png" alt="Portcullis" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Portcullis</span>
    <input type="number" placeholder="Portcullis (Tap to Enter)" ng-model="data.sportcullis">
  </label>


  </div>
  </div>

   <div class="col" ng-show="data.cheval">
  <div class="slideLeft" >

    <img src="ChevaldeFrise.png" alt="ChevaldeFrise" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Cheval</span>
    <input type="number" placeholder="Chevel (Tap to Enter)" ng-model="data.scheval">
  </label>


  </div>
  </div>

   <div class="col" ng-show="data.moat">
  <div class="slideLeft" >

     <img src="moat.png" alt="Moat" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Moat</span>
    <input type="number" placeholder="Low Goal (Tap to Enter)" ng-model="data.smoat">
  </label>


  </div>
  </div>
   <div class="col" ng-show="data.rampart">
  <div class="slideLeft" >

   <img src="ramparts.png" alt="Ramparts" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Ramparts </span>
    <input type="number" placeholder="Ramparts (Tap to Enter)" ng-model="data.sramparts">
  </label>


  </div>
  </div>

   <div class="col" ng-show="data.drawbridge">
  <div class="slideLeft" >

      <img src="drawbridge.png" alt="Drawbridge" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Drawbridge</span>
    <input type="number" placeholder="Drawbridge (Tap to Enter)" ng-model="data.sdrawbridge">
  </label>


  </div>
  </div>
</div>

  <div class="col" ng-show="data.sport">
  <div class="slideLeft" >

    <img src="sallyport.png" alt="Mountain View" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Sally Port</span>
    <input type="number" placeholder="Sally Port (Tap to Enter)" ng-model="data.ssallyport">
  </label>

  </div>
  </div>
</div>


  <div class="col" ng-show="data.rockwall">
  <div class="slideLeft" >

   <img src="rockwall.png" alt="Mountain View" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Rock Wall</span>
    <input type="number" placeholder="Rock Wall (Tap to Enter)" ng-model="data.srockwall">
  </label>

  </div>
  </div>
</div>


  <div class="col" ng-show="data.roughterrain">
  <div class="slideLeft" >

  <img src="roughterrain.png" alt="Mountain View" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Rough Terrain</span>
    <input type="number" placeholder="Rough Terrain (Tap to Enter)" ng-model="data.srough">
  </label>


  </div>
  </div>
</div>

  <div class="col">
  

  <img src="lowbar.png" alt="Mountain View" style="width:70px;height:70px;">

     <label class="item item-input item-floating-label">
    <span class="input-label">Low Bar</span>
    <input type="number" placeholder="Low Bar (Tap to Enter)" ng-model="data.slowbar">
  </label>


 
  </div>
</div>


 
</div>