<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
 <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
<ion-view view-title="{{team}}">
<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
<div align="center">
        <p> If Page is Blank tap on Top Bar </p>
   </div>
  <ion-content class="padding">
   <!-- stat card --> 
   

 <p> view </p>
  </ion-content>
</ion-view>
