<ion-view title="Entropy Scout 2017">

<!--
  <ion-nav-buttons side="left">
      <button class="button" ng-click="doSomething()">
        I'm a button on the left of the navbar!
      </button>
        <button class="button icon ion-navicon"></button>
  <button class="button">New Robot</button>

   </ion-nav-buttons>

-->

  <ion-content class="has-header padding">



  <h5>Basic Info</h5>



<div class="row">
  <div class="col">
      <label class="item item-input item-floating-label">
    <span class="input-label">Team #</span>
    <input type="number" min="0" placeholder="Team #"  list="{{data.teamlist}}" ng-model="data.teamnumber">
  </label>
  </div>
  <div class="col">
      <label class="item item-input item-floating-label">
    <span class="input-label">Match #</span>
    <input type="number" min="0" placeholder="Match #"  ng-model="data.matchnumber">
  </label>
  </div>
  
</div>

  
<h5> Autonomous </h5>
       
        
<ul class="list">
<li class="item">
        <div class="row">
          <div class="col">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <button id="first-multiplier" class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncri('one')" rel="1"><small>&plusmn; 1</small></button>
            <button class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncri('five')" rel="5"><small>&plusmn; 5</small></button>
            <button class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncri('ten')"  rel="10"><small>&plusmn; 10</small></button>
            <button class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncri('twenty')"  rel="20"><small>&plusmn; 20</small></button>

            </div>
          </div>
          <div class="col">
                <div class="col">
                Incriment:
                </div>
               <div class="col">
                <input type="number"  min="1" placeholder="1" ng-model="incriTeli2" disabled>
               </div>
          </div>
        </div>
 
<div class="row">
  
       <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Fuel High Goal(A)</div>
                <input id="auto-high-goal-counter" ng-value="highgoalAutoCount" type="number" class="form-control counters" placeholder="0"  disabled>
                <button id="auto-high-goal-plus" ng-click="upHighA()" class="btn btn-outline-success up multiplier-tag notransition">+</button>
                <button id="auto-high-goal-minus" ng-click="downHighA()" class="btn btn-outline-danger down multiplier-tag notransition">-</button>
            </div>
        </div>
</div> 
<div class="row">
         <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Fuel Low Goal(A)</div>
                <input id="auto-high-goal-counter"  ng-value="lowgoalAutoCount" type="text" class="form-control counters" placeholder="0"  disabled>
                <button id="auto-high-goal-plus" ng-click="upLowA()" class="btn btn-outline-success up multiplier-tag notransition">+</button>
                <button id="auto-high-goal-minus" ng-click="downLowA()" class="btn btn-outline-danger down multiplier-tag notransition">-</button>
            </div>
        </div>
</div>
</li>
<li class="item">
<div class="row">
  <ion-checkbox ng-model="data.AutoMove">Move in Auto</ion-checkbox>
  </div>
    <div class="row">
   <ion-checkbox ng-model="data.ScoreGear">Place Gear in Auto</ion-checkbox>
   </div>

</li>



</ul>


<h5>Tele Op</h5>
<ul class="list">   
      
      <li class="item">
        <div class="row">
          <div class="col">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <button id="first-multiplier" class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncriTele('one')" rel="1"><small>&plusmn; 1</small></button>
            <button class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncriTele('five')" rel="5"><small>&plusmn; 5</small></button>
            <button class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncriTele('ten')"  rel="10"><small>&plusmn; 10</small></button>
            <button class="btn btn-sm btn-outline-primary multiplier" ng-click="setIncriTele('twenty')"  rel="20"><small>&plusmn; 20</small></button>

            </div>
          </div>
          <div class="col">
                <div class="col">
                Incriment:
                </div>
               <div class="col">
                <input type="number"  min="1" placeholder="1" ng-model="incriTeli" disabled>
               </div>
          </div>
        </div>

        </div>
        <div class="row">
           <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Fuel High Goal</div>
                <input id="auto-high-goal-counter" ng-value="highgoalTeleCount" type="number" class="form-control counters" placeholder="0"  disabled>
                <button id="auto-high-goal-plus" ng-click="upHighT()" class="btn btn-outline-success up multiplier-tag notransition">+</button>
                <button id="auto-high-goal-minus" ng-click="downHighT()" class="btn btn-outline-danger down multiplier-tag notransition">-</button>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Fuel Low Goal</div>
                <input id="auto-high-goal-counter" ng-value="lowgoalTeleCount" type="number" class="form-control counters" placeholder="0" disabled>
                <button id="auto-high-goal-plus" ng-click="upLowT()" class="btn btn-outline-success up multiplier-tag notransition">+</button>
                <button id="auto-high-goal-minus" ng-click="downLowT()" class="btn btn-outline-danger down multiplier-tag notransition">-</button>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">Gears Scored</div>
                <input id="gearcount" ng-value="gearCountTele" type="number" class="form-control counters" placeholder="0"  disabled>
                <button id="auto-high-goal-plus" ng-click="upGearCount()" class="btn btn-outline-success up multiplier-tag notransition">+</button>
                <button id="auto-high-goal-minus" ng-click="downGearCount()" class="btn btn-outline-danger down multiplier-tag notransition">-</button>
            </div>
          </div>
        </div>

      </li>
      
      
        <li class="item">
        <div class="row">
          <ion-checkbox ng-model="data.attemptClimb">Attempt Climb?</ion-checkbox>
         </div>
         <div class="row">
           <ion-checkbox ng-click="updateAttempClimb()" ng-model="data.SuccesfulClimb">Succesful Climb</ion-checkbox>
         </div>
      </li>

</ul>   


<!--
  <h4>Defenses Information</h4>
        <p> Cross Undamaged Defenses?</p>


<ul class="list">

    <li class="item">
      <div class="row">
      <div class="col-20">
        <img src="Portcullis.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Portcullis</span>
    <input type="number" min="0"  placeholder="Portcullis" ng-model="data.portcullis">
      </div>
     

      </div>
     </li>

      <li class="item">
      <div class="row">
      <div class="col-20">
<img src="ChevaldeFrise.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Cheval de Frise</span>
    <input type="number" min="0"  placeholder="Cheval de Frise" ng-model="data.cheval">
      </div>
     

      </div>
     </li>

           <li class="item">
      <div class="row">
      <div class="col-20">
<img src="moat.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Moat</span>
    <input type="number" min="0"  placeholder="Moat" ng-model="data.moat">
      </div>
     

      </div>
     </li>

           <li class="item">
      <div class="row">
      <div class="col-20">
<img src="ramparts.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Ramparts</span>
    <input type="number" min="0"  placeholder="Ramparts" ng-model="data.rampart">
      </div>
     

      </div>
     </li>

            <li class="item">
      <div class="row">
      <div class="col-20">
<img src="drawbridge.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Drawbridge</span>
    <input type="number" min="0"  placeholder="Drawbridge" ng-model="data.drawbridge">
      </div>
     

      </div>
     </li>

             <li class="item">
      <div class="row">
      <div class="col-20">
<img src="sallyport.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Sally Port</span>
    <input type="number" min="0"  placeholder="Sally Port" ng-model="data.sport">
      </div>
     

      </div>
     </li>


       <li class="item">
      <div class="row">
      <div class="col-20">
<img src="rockwall.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Rock Wall</span>
    <input type="number" min="0"  placeholder="Rock Wall" ng-model="data.rockwall">
      </div>
     

      </div>
     </li>


       <li class="item">
      <div class="row">
      <div class="col-20">
<img src="roughterrain.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Rough Terrain</span>
    <input type="number" min="0"  placeholder="Rough Terrain" ng-model="data.roughterrain">
      </div>
     

      </div>
     </li>

      <li class="item">
      <div class="row">
      <div class="col-20">
<img src="lowbar.png" alt="Mountain View" style="width:50px;height:25px;">

      </div>
      <div class="col-80">
                <label class="item item-input item-floating-label">
    <span class="input-label">Low Bar</span>
    <input type="number" min="0"  placeholder="Low Bar" ng-model="data.lowbar">
      </div>
     

      </div>
     </li>

</ul>   
-->


  <!--

        <ion-checkbox  ng-model="data.roughterrain" >
<img src="roughterrain.png" alt="Mountain View" style="width:50px;height:25px;">
        Rough Terrain</ion-checkbox>

       <h3>Defenses Crossed by Robot</h3>

  <h6>Amount of Times Robot Crosses Defense</h6>
-->

<!-- responsive grid -->
<!-- RESPONSIVE GRID -->
<!-- =============== -->
<!-- ================== -->
<!-- commenting it all out for now -->
<!-- IF you want this code look in templates for old code -->


<!-- at the absolute end -->
<button class="button button-full button-positive" ng-disabled="delay" ng-click="submit()">
  Submit
</button>

</form>


</button>

  </ion-content>
</ion-view>


