<ion-view view-title="Analytics">
  <ion-content>
   <!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->
  
   <!-- Options list -->
   <div class="list">

 

<!-- Ranks the amount of teams a team has team has climbed and how many times they were succesful -->
    <a class="item item-icon-left" href="#/tab/stats/tower">
    <i class="icon ion-cash"></i>
    Rope Climber Ranking 
  </a>
   <a class="item item-icon-left" href="#/tab/stats/climb">
    <i class="icon ion-cash"></i>
    Most Ropes Climbed 
  </a>

  <a class="item item-icon-left" href="#/tab/stats/shooting">
    <i class="icon ion-social-dribbble-outline"></i>
    Shooting Rankings
      </a>


<!--
<a class="item item-icon-left" href="#/tab/stats/matchpredict">
    <i class="icon ion-fireball"></i>
    Match Predictor
  </a>
--> 
<a class="item item-icon-left" href="#/tab/stats/auto">
    <i class="icon ion-model-s"></i>
    Autonomous Gears
  </a>
   <a class="item item-icon-left" href="#/tab/stats/defensetotal">
    <i class="icon ion-beer"></i>
    Gear Scoring Rate
  </a>


    <a class="item item-icon-left" href="#/tab/stats/auto2">
    <i class="icon ion-beer"></i>
    Total Gears
  </a>
  
<!--
 <a class="item item-icon-left" href="#/tab/stats/score">
    <i class="icon ion-ribbon-a"></i>
    Overall Scoring 
  </a>


<a class="item item-icon-left" href="#/tab/stats/windham">
    <i class="icon ion-arrow-graph-up-left"></i>
    Windham Data
  </a>

  <a class="item item-icon-left" href="#/tab/stats/predictormatch">
    <i class="icon ion-levels"></i>
    Matchup Predictor
  </a>
  -->
</div>



  </ion-content>
</ion-view>
